<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Udemy Tutorial Notes</title>
</head>
<body>
    <header>
        <h1>
            Udemy Course Notes
        </h1>
    </header>
    <hr>
    <section>
        <ul>
            <li>Emmet syntax
                <ul>
                    <li>
                        boilerplate: !+tab
                    </li>
                </ul>
            </li>
            <li>
                anchor tag
                <ul>
                    <li>add links</li>
                    <li>href</li>
                </ul>
            </li>
            <li>
                images
                <ul>
                    <li>src</li>
                </ul>
            </li>
            <li>block element vs. inline element
                <ul>
                    <li>div: block</li>
                    <li>span: inline</li>
                </ul>
            </li>
            <li>tables
                <ul>
                    <li>thead, th (header text), tbody, tr (row), td (data), tfoot, colspan/rowspan</li>
                </ul>
            </li>
            <li></li>
            <li></li>
        </ul>
    </section>
    <section>
        <h2>Table Example</h2>
        <table>
            <thead>
                <th>Col1</th>
                <th>Col2</th>
                <th>Col3</th>
            </thead>
            <tbody>
                <tr>
                    <td>content</td>
                    <td>content</td>
                    <td>content</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section>
        <h2>
            References
        </h2>
        <ul>
            <li>
                Mozilla Developer Network (MDN)
            </li>
            <li>
                Emmet Documentation
            </li>
        </ul>
    </section>
</body>
</html>